
/* .container{
    margin: 5px;
    padding: 20px;
    width: 100%;
}    */

small.copyright{
    float: left
}

footer.primary-footer{
    padding: 10px 5px 15px
    
}

/* Make sure that the padding and border are included
 in the total width and height of the elements by adding the following CSS rule:
 Column width: 8.33%
 */
* {
    box-sizing: border-box;
    column-width: 8.33%
}  

  /* For mobile phones: */
[class*="col-"] {
    width: 100%;
    float: left; 
}  

@media only screen and (max-width: 768px) {
  /* For mobile phones and tablets: */
  [class*="col-"] {
      width: 100%;
  }
} 


@media only screen and (min-width: 768px) {
  .row {
      width: 100%;
  }

  .col-12 {
      width: 100%;
  }

  .col-8 {
      width: 66.66%;
  }

  .col-4 {
      width: 33.33%;
  }
} 

@media only screen and (max-width: 600px) {
  #fadeshow {
      display: none;
  }
} 



  @media (max-width: 979px) {
    body {
      padding-top: 0px;
    }
  }


strong { font-weight: bold; }
small {
    font-size: smaller;
  } 




h1	{display: block;
font-size: 2em;
margin-top: 0.67em;
margin-bottom: 0.67em;
margin-left: 0;
margin-right: 0;
font-weight: bold;
}

/* Tutorial on https://fossheim.io/writing/posts/css-text-gradient. */

.gradient-text {
    /* Fallback: Set a background color. */
    background-color: goldenrod;
    
    /* Create the gradient. */
    background-image: linear-gradient(1deg, #a868a4, #00d2ff);
    
    /* Set the background size and repeat properties. */
    background-size: 100%;
    background-repeat: repeat;
  
    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}
  
