/* Author: Patrick Duong */

.chart-container{
    height: auto;
}

#reflection-intro{
    font-size: 6vw; 
}

body {
    padding-top: 60px;
  }
  @media (max-width: 979px) {
    body {
      padding-top: 0px;
    }
  }